@import "tailwindcss";

/* --- Mengatur font bawaan (Default) --- */
body {
    @apply font-lato;
}

/* --- Import Font Lato --- */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@theme {
    /* --- Font Family --- */
    --font-lato: "Lato", sans-serif;

    /* --- Color Scheme --- */
    --color-ocean-green: #4EA674;
    --color-cyprus: #023337;
    --color-surf-crest: #C1E6BA;
    --color-aqua-spring: #EAF8E7;
    --color-primary-cta: #6467F2; 
    --color-success: #21C45D;
    --color-pending: #F0D411;
    --color-error: #EF4343;
    --color-grey: #7C7C7C;

    /* --- Type Scale (Ukuran Teks & Jarak) --- */
    
    /* Display / Header 1 */
    --text-display: 57px;
    --text-display--letter-spacing: -0.25%;
    
    /* Header 2 */
    --text-header2: 32px;
    --text-header2--letter-spacing: 0;
    
    /* Title / Body Large */
    --text-title-large: 22px;
    
    /* Title for Dashboard */
    --text-dashboard: 18px;
    --text-dashboard--letter-spacing: -2%;
    
    /* Body */
    --text-body: 16px;
    --text-body--line-height: 140%;
    
    /* Button Text (Sama ukuran dengan body, tapi dipisah jika ingin spesifik) */
    --text-button: 16px;
    --text-button--letter-spacing: 0;
}